# Buses Mapping

In [24]:
import pandas as pd

df_combined_raw = pd.read_csv('buses_combined_raw.csv')
df_combined_raw

                bus501_id     x_501      y_501  bus385_id     x_385      y_385
0           way/975637991 -1.271945  60.293401     6442.0 -3.453827  58.566820
1    relation/8087295-275 -3.753620  58.575786     6441.0 -3.812256  58.546761
2       way/495624575-275 -3.512715  58.564233     6443.0 -3.453827  58.490823
3       way/567187951-275 -3.879158  58.512154     6447.0 -2.956696  57.521723
4          way/1262971878 -3.452185  58.479968     6485.0 -1.815491  57.484833
..                    ...       ...        ...        ...       ...        ...
496      way/49922626-400 -2.488599  50.623881        NaN       NaN        NaN
497      way/26938722-400 -3.730387  50.471640        NaN       NaN        NaN
498      way/34656007-400 -4.242535  50.444878        NaN       NaN        NaN
499  relation/9572254-400 -4.899645  50.395013        NaN       NaN        NaN
500     way/677845115-400 -4.012721  50.389054        NaN       NaN        NaN

[501 rows x 6 columns]

In [25]:
df_501 = df_combined_raw[['bus501_id', 'x_501', 'y_501']]
df_385 = df_combined_raw[['bus385_id', 'x_385', 'y_385']].dropna()

df_501

                bus501_id     x_501      y_501
0           way/975637991 -1.271945  60.293401
1    relation/8087295-275 -3.753620  58.575786
2       way/495624575-275 -3.512715  58.564233
3       way/567187951-275 -3.879158  58.512154
4          way/1262971878 -3.452185  58.479968
..                    ...       ...        ...
496      way/49922626-400 -2.488599  50.623881
497      way/26938722-400 -3.730387  50.471640
498      way/34656007-400 -4.242535  50.444878
499  relation/9572254-400 -4.899645  50.395013
500     way/677845115-400 -4.012721  50.389054

[501 rows x 3 columns]

In [26]:
import numpy as np
from scipy.spatial import cKDTree

tree = cKDTree(df_501[["x_501", "y_501"]].to_numpy())

dist, idx = tree.query(df_385[["x_385", "y_385"]].to_numpy(), k=1)

df_501["bus385_id"] = np.nan
df_501["x_385"] = np.nan
df_501["y_385"] = np.nan

df_501.loc[idx, "bus385_id"] = df_385["bus385_id"].values
df_501.loc[idx, "x_385"] = df_385["x_385"].values
df_501.loc[idx, "y_385"] = df_385["y_385"].values

/tmp/ipykernel_80209/1921444219.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_501["bus385_id"] = np.nan
/tmp/ipykernel_80209/1921444219.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_501["x_385"] = np.nan

In [27]:
df_combined = df_501
df_combined

                bus501_id     x_501      y_501  bus385_id     x_385      y_385
0           way/975637991 -1.271945  60.293401        NaN       NaN        NaN
1    relation/8087295-275 -3.753620  58.575786     6441.0 -3.812256  58.546761
2       way/495624575-275 -3.512715  58.564233     6442.0 -3.453827  58.566820
3       way/567187951-275 -3.879158  58.512154        NaN       NaN        NaN
4          way/1262971878 -3.452185  58.479968     6443.0 -3.453827  58.490823
..                    ...       ...        ...        ...       ...        ...
496      way/49922626-400 -2.488599  50.623881     5274.0 -2.528229  50.628558
497      way/26938722-400 -3.730387  50.471640     5210.0 -3.691406  50.477609
498      way/34656007-400 -4.242535  50.444878     5208.0 -4.244843  50.460127
499  relation/9572254-400 -4.899645  50.395013     5207.0 -4.925995  50.368241
500     way/677845115-400 -4.012721  50.389054     5209.0 -3.967438  50.489842

[501 rows x 6 columns]

In [28]:
df_combined.to_csv('buses_combined.csv', index=False)