# Power System Datasets Preparation

This script generates the four core datasets used in power system analysis: Buses, Generators, Lines and Loads.

## Buses

In [42]:
import pandas as pd

df_Buses = pd.read_csv('./prerun/buses_GB.csv', comment = "#")
df_Buses.rename(columns={'bus_id': 'name'}, inplace=True)
df_Buses.insert(0, 'BusID', range(1, len(df_Buses) + 1))
df_Buses = df_Buses.loc[:, :'y']
df_Buses = df_Buses.drop(columns=['dc', 'symbol', 'under_construction', 'tags'])

df_Buses

     BusID              name  voltage         x          y
0        1           GB1-220      220 -2.895746  58.256815
1        2          GB10-275      275 -3.719714  56.088133
2        3          GB11-275      275 -3.179692  55.924620
3        4          GB12-275      275 -3.178627  55.903134
4        5          GB13-400      400 -2.938918  55.884694
..     ...               ...      ...       ...        ...
488    489  way/97551523-400      400 -2.416744  55.948838
489    490  way/97561542-275      275 -1.116723  54.606500
490    491     way/975637991      320 -1.271945  60.293401
491    492  way/98788846-275      275 -3.130160  51.481960
492    493  way/98899051-400      400 -4.158253  53.187491

[493 rows x 5 columns]

### Asign them into regions

In [43]:
regions = pd.read_csv('./GBPower_raw/gsp_gnode_directconnect_region_lookup.csv')
regions

,ng_id,ggd_id,gnode_id,gnode_name,gnode_lat,gnode_lon,gsp_id,gsp_name,gsp_lat,gsp_lon,dc_id,dc_name,dc_lat,dc_lon,region_id,region_name,has_pv,pes_id,pes_name
0,1,1,1.0,COWL,51.71105,-1.18901,1.0,COWL_1,51.711050,-1.189010,NaN,NaN,NaN,NaN,1.0,Cowley,1,20.0,_H
1,2,2,2.0,ECLA,51.92579,-0.90565,2.0,ECLA_1,51.925790,-0.905650,NaN,NaN,NaN,NaN,19.0,East Claydon,1,11.0,_B
2,3,3,3.0,ENDEDW,52.59726,-1.21548,3.0,ENDE_1,52.597260,-1.215480,NaN,NaN,NaN,NaN,20.0,Enderby,1,11.0,_B
3,4,4,4.0,GRENDW,52.24269,-0.72736,4.0,GREN_1,52.242690,-0.727360,NaN,NaN,NaN,NaN,21.0,Grendon,1,11.0,_B
4,5,5,5.0,RATS,52.86342,-1.25444,5.0,RATS_1,52.863420,-1.254440,NaN,NaN,NaN,NaN,22.0,Ratcliffe,1,11.0,_B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,376,376,360.0,BPGR,56.01141,-3.72183,NaN,NaN,NaN,NaN,17.0,T_BPGRD-2,56.01141,-3.72183,NaN,NaN,0,NaN,NaN
376,377,377,NaN,NaN,NaN,NaN,335.0,KNAR,54.031211,-1.487844,NaN,NaN,NaN,NaN,132.0,Knaresborough,1,15.0,_F
377,378,378,NaN,NaN,NaN,NaN,336.0,WYLF_1,53.413644,-4.482279,NaN,NaN,NaN,NaN,114.0,Wylfa,1,13.0,_D
378,379,379,NaN,NaN,NaN,NaN,337.0,DALM3,55.838567,-4.208346,NaN,NaN,NaN,NaN,260.0,Dalmarnock,1,18.0,_N
379,380,380,NaN,NaN,NaN,NaN,338.0,FINN,55.863398,-4.286086,NaN,NaN,NaN,NaN,261.0,Finnieston,1,18.0,_N

### Load the data

In [44]:
import geopandas as gpd
from shapely.geometry import Point

gdf_regions = gpd.read_file("./GBPower_raw/gsp_geometries.geojson")
gdf_regions = gdf_regions.to_crs("EPSG:4326")
gdf_buses = gpd.GeoDataFrame(
    df_Buses,
    geometry=gpd.points_from_xy(df_Buses['x'], df_Buses['y']),
    crs="EPSG:4326"
)

gdf_regions = gdf_regions[gdf_regions.is_valid]

### Match Buses into regions

In [45]:
# Match each bus to the region polygon it falls within
gdf_joined = gpd.sjoin(gdf_buses, gdf_regions, how="left", predicate="within")

cols_to_keep = ['BusID', 'name', 'x', 'y', 'RegionName']
gdf_joined[cols_to_keep]

     BusID              name         x          y    RegionName
0        1           GB1-220 -2.895746  58.256815           NaN
1        2          GB10-275 -3.719714  56.088133     Devonside
2        3          GB11-275 -3.179692  55.924620    Whitehouse
3        4          GB12-275 -3.178627  55.903134        Kaimes
4        5          GB13-400 -2.938918  55.884694     Cockenzie
..     ...               ...       ...        ...           ...
488    489  way/97551523-400 -2.416744  55.948838        Dunbar
489    490  way/97561542-275 -1.116723  54.606500      Lackenby
490    491     way/975637991 -1.271945  60.293401   Fraserburgh
491    492  way/98788846-275 -3.130160  51.481960  Cardiff East
492    493  way/98899051-400 -4.158253  53.187491        Pentir

[493 rows x 5 columns]

In [46]:
df_Buses['RegionName'] = gdf_joined['RegionName']
df_Buses

     BusID              name  voltage         x          y    RegionName
0        1           GB1-220      220 -2.895746  58.256815           NaN
1        2          GB10-275      275 -3.719714  56.088133     Devonside
2        3          GB11-275      275 -3.179692  55.924620    Whitehouse
3        4          GB12-275      275 -3.178627  55.903134        Kaimes
4        5          GB13-400      400 -2.938918  55.884694     Cockenzie
..     ...               ...      ...       ...        ...           ...
488    489  way/97551523-400      400 -2.416744  55.948838        Dunbar
489    490  way/97561542-275      275 -1.116723  54.606500      Lackenby
490    491     way/975637991      320 -1.271945  60.293401   Fraserburgh
491    492  way/98788846-275      275 -3.130160  51.481960  Cardiff East
492    493  way/98899051-400      400 -4.158253  53.187491        Pentir

[493 rows x 6 columns]

### Asign them into different colors

In [47]:
Buses_combined = pd.read_csv('./prerun/buses_mapping/buses_combined.csv',dtype = {'bus385_id': str})
bus_501_385_mapping = dict(zip(Buses_combined['bus501_id'], Buses_combined['bus385_id']))
bus_501_385_mapping

{'way/975637991': nan,
 'relation/8087295-275': '6441',
 'way/495624575-275': '6442',
 'way/567187951-275': nan,
 'way/1262971878': '6443',
 'way/1262971878-275': nan,
 'GB1-220': nan,
 'GB2-220': nan,
 'GB3-220': nan,
 'GB4-220': nan,
 'GB5-220': nan,
 'way/232319495-275': nan,
 'way/624256368-275': nan,
 'way/630939126-275': nan,
 'GB6-220': nan,
 'way/306451400-275': nan,
 'way/115277975-275': nan,
 'way/166703766-400': nan,
 'way/166703766-220': nan,
 'way/166703766-275': nan,
 'way/568527671': '6447',
 'way/778717371-275': nan,
 'way/1185489725-400': nan,
 'way/1185489725-220': '6448',
 'way/1190395478-400': nan,
 'way/1190395478-220': '8013',
 'way/133323988-400': nan,
 'way/133323988-275': '6485',
 'way/68515955-400': '6438',
 'way/68515955-275': nan,
 'way/842685465-275': nan,
 'way/820229174-275': '6440',
 'way/820237569-400': nan,
 'way/239248206-400': '6437',
 'way/689624522-275': nan,
 'way/762272690-275': nan,
 'way/127045977-275': nan,
 'way/118821349-400': nan,
 'way/118821349-275': '6486',
 'GB7-275': '6487',
 'way/1263095953-400': '6450',
 'way/689626274-400': nan,
 'way/241491759-275': nan,
 'way/495512692-400': '8019',
 'way/1252341626-275': nan,
 'GB8-220': nan,
 'way/111528318-220': '6462',
 'way/111528318-275': nan,
 'way/307769998-275': '6453',
 'way/307717807-275': '6452',
 'way/1307462736-275': '6454',
 'way/495512689-400': nan,
 'way/59736773-275': '6473',
 'way/95374266-275': '6474',
 'GB9-275': nan,
 'way/89699558-275': '6475',
 'GB10-275': '6468',
 'way/89836009-275': '8032',
 'way/730870685-275': '6472',
 'way/422486984-400': nan,
 'way/422486984-275': '6463',
 'relation/2452471-275': nan,
 'way/76468460-275': '6470',
 'way/65482882-400': '6483',
 'way/65482882-275': nan,
 'way/111550033-400': nan,
 'way/105304263-275': nan,
 'way/32342648-275': '6479',
 'way/97551523-400': '6490',
 'way/123129049-275': nan,
 'way/40685663-275': '6477',
 'way/86071326-400': nan,
 'way/86071326-275': '6456',
 'way/32075668-275': nan,
 'GB11-275': nan,
 'way/91056548-400': '6455',
 'way/162124572-275': nan,
 'way/262523325-400': '6489',
 'way/96905262-400': '6481',
 'way/96905262-275': '8034',
 'GB12-275': nan,
 'way/166703759-275': '6458',
 'way/27332350-275': nan,
 'way/27163121-400': '6480',
 'way/27163121-275': nan,
 'GB13-400': '7471',
 'way/119315534-275': nan,
 'way/109073025-275': '6459',
 'way/308724683-275': nan,
 'way/119315557-275': '6465',
 'GB14-400': nan,
 'way/308724719-275': '6467',
 'way/262532045-400': nan,
 'way/222205173-275': nan,
 'way/119315549-275': nan,
 'way/143398451-400': nan,
 'way/143398451-275': '5900',
 'GB15-275': nan,
 'way/166703764-275': '5906',
 'way/166703758-275': '8744',
 'way/212779654-400': '5909',
 'way/212779654-275': '8035',
 'relation/7894974-400': '5908',
 'relation/7894974-275': '5907',
 'way/308653819-275': nan,
 'way/297840585-220': nan,
 'way/297840585': nan,
 'way/297840585-400': '5896',
 'way/677513264-220': nan,
 'way/308802191-275': '8037',
 'way/102198808-400': '5943',
 'way/143383456-400': '5911',
 'way/143388743-275': '5903',
 'way/100077745-400': nan,
 'way/100077745-275': nan,
 'way/335589232-275': nan,
 'way/125860302-275': '5899',
 'way/143110887-275': nan,
 'way/143105488-275': '5905',
 'way/284874050-400': nan,
 'way/284874050-275': '5914',
 'way/472289073-275': '5916',
 'way/677510482-275': nan,
 'way/676646876-400': '5919',
 'way/642490160': '5950',
 'way/310502642-275': nan,
 'way/310502642-400': nan,
 'way/260300448-275': nan,
 'way/148382435-275': '5893',
 'way/148382435': nan,
 'way/676775628-275': nan,
 'way/402783212-275': nan,
 'relation/10377509-400': '5920',
 'way/96630594-275': '5951',
 'GB16-400': '5945',
 'way/143221984-275': '5944',
 'way/91955171-400': nan,
 'way/91955171-275': nan,
 'way/184584639-275': '5953',
 'relation/14921826-400': nan,
 'relation/14921826-275': '5921',
 'way/183904046-275': nan,
 'way/200635683-275': '5954',
 'way/137050527-275': nan,
 'way/137050527': nan,
 'way/200511209-400': '5958',
 'way/200511209-275': nan,
 'way/142185552-275': nan,
 'GB17-275': nan,
 'way/230134599-275': nan,
 'way/339008021-275': nan,
 'relation/11543333-400': '5956',
 'way/1297690788-275': '5962',
 'way/311840838-275': nan,
 'way/97561542-275': '5967',
 'way/43303585-400': nan,
 'way/43303585-275': nan,
 'way/43472283-400': nan,
 'way/43472283-275': nan,
 'way/227495569-275': nan,
 'way/166764802-275': nan,
 'way/109730296-400': '5964',
 'way/109730296-275': nan,
 'way/148266260-275': nan,
 'way/142397822-400': '5965',
 'way/227767022-275': nan,
 'way/209404646-400': nan,
 'way/227767019-275': nan,
 'relation/11051275-400': '5952',
 'way/94004582-400': '5924',
 'way/94004582-220': nan,
 'way/186747788-275': '5987',
 'GB18-400': nan,
 'GB19-220': nan,
 'GB20-400': '5968',
 'way/109463536-275': '6019',
 'way/90125443-400': '6020',
 'GB21-220': nan,
 'way/25629803-400': '6021',
 'way/310495264-400': nan,
 'GB22-400': '8026',
 'GB23-275': nan,
 'way/142841192-400': '5985',
 'way/142841192-275': nan,
 'way/25492769-275': '5988',
 'way/33917128-400': '6036',
 'way/33917128-275': '6034',
 'relation/7894483-400': '5969',
 'relation/10925187-275': '5989',
 'GB24-220': nan,
 'way/90547674-400': '6024',
 'way/90547674-275': nan,
 'way/635836276-275': '6040',
 'relation/7894975-400': '5970',
 'relation/7894975-275': nan,
 'GB25-400': nan,
 'way/160580052-400': '6032',
 'GB26-275': nan,
 'way/193617444-400': '6022',
 'way/193617444-275': nan,
 'way/313495269-400': '6026',
 'GB27-400': nan,
 'way/164380199-275': nan,
 'GB28-275': '5990',
 'way/701436399-400': '6041',
 'way/701436399-220': nan,
 'GB29-275': nan,
 'GB30-400': '6038',
 'way/257311344-400': nan,
 'GB31-400': nan,
 'GB32-400': '6039',
 'way/163036722-400': '5975',
 'way/163036722-275': nan,
 'GB33-400': nan,
 'GB34-400': nan,
 'way/313180501-400': '6043',
 'relation/7881280-400': '7946',
 'GB35-400': nan,
 'way/785730495-400': nan,
 'way/785730495-275': '6027',
 'way/160279525-400': '6042',
 'way/81098733-275': '5928',
 'way/97256377-400': '5977',
 'way/97256377-275': nan,
 'way/135693940-275': '5982',
 'way/1097582201-400': '5993',
 'way/159038999-400': nan,
 'way/211549457-275': nan,
 'GB36-400': nan,
 'relation/9598269-400': '5991',
 'relation/9598269-275': nan,
 'way/90539508-400': '5996',
 'way/635713005-220': nan,
 'way/30930911-275': nan,
 'way/160616357-275': nan,
 'GB37-275': nan,
 'relation/7894457-400': nan,
 'relation/7894457-275': nan,
 'GB38-220': nan,
 'way/92529432-400': nan,
 'way/92529432-275': '5981',
 'way/367005272-275': '5973',
 'way/92737152-275': '5983',
 'way/1153252242-275': '5927',
 'way/101312018-275': nan,
 'GB39-400': nan,
 'way/89427607-400': '5923',
 'way/93878867-275': nan,
 'way/147475796-275': nan,
 'way/101077623-400': nan,
 'way/101077623-275': '5998',
 'way/90547685-275': nan,
 'GB40-275': '5984',
 'way/159736514-400': '6029',
 'way/159736514-275': '6031',
 'way/115887437-275': '6030',
 'way/116539370-275': '5999',
 'GB41-275': nan,
 'way/23059268-275': nan,
 'way/315213320-275': '5974',
 'way/153884024-275': '5926',
 'relation/13110369-400': nan,
 'way/796648851-275': '6007',
 'GB42-275': nan,
 'way/433545528-220': nan,
 'way/123866712-275': '6008',
 'GB43-400': nan,
 'way/23164256-400': '6000',
 'way/23164256-275': nan,
 'way/314338790-400': '6046',
 'GB44-275': nan,
 'way/92419253-400': '6005',
 'way/92419253-275': '8575',
 'way/23164132-400': nan,
 'way/23164132-275': '5940',
 'way/280317944-400': nan,
 'way/280317944-220': '8023',
 'way/536905500': nan,
 'way/536905500-400': nan,
 'way/375626500': nan,
 'way/375626500-400': nan,
 'way/1274396508-400': nan,
 'way/143905069-400': nan,
 'way/143905069-275': '6044',
 'way/92331023-275': '6010',
 'GB46-220': nan,
 'way/98899051-400': nan,
 'GB47-400': '5929',
 'GB48-400': nan,
 'GB49-400': '5930',
 'GB50-400': '7412',
 'way/91003253-400': '6048',
 'way/87207123-400': nan,
 'way/95338682-400': '5942',
 'way/1214332448-275': '5931',
 'way/472164401-400': '6047',
 'way/895564309-400': '7909',
 'way/895564309-220': nan,
 'way/142845284-400': nan,
 'way/190511290-400': nan,
 'way/89573358-400': nan,
 'way/89573357-400': '5933',
 'way/89573357-275': nan,
 'way/1078532568': nan,
 'way/1078532568-400': nan,
 'relation/13110368-400': '6049',
 'relation/13110368-275': nan,
 'way/71118225-400': '6014',
 'GB51-400': nan,
 'GB52-400': '8283',
 'GB53-400': nan,
 'way/376450057-400': '6053',
 'way/87204522-400': '6015',
 'way/87204522-275': nan,
 'way/142741752-400': nan,
 'way/635226843-400': nan,
 'GB54-400': '6012',
 'way/635829123-400': '5888',
 'way/635829123-220': nan,
 'way/127184694-400': '6002',
 'GB55-275': nan,
 'way/92221420-275': '6004',
 'relation/7886014-400': '6003',
 'GB56-400': nan,
 'GB57-400': nan,
 'way/90534270-400': '6051',
 'way/203880168-275': nan,
 'way/32227788-400': '5889',
 'way/92458761-400': nan,
 'way/92458761-275': '5211',
 'way/31545125-400': nan,
 'way/31545125-275': nan,
 'way/25784732-275': nan,
 'way/49499923-400': '8649',
 'way/49499923-275': '6017',
 'way/94543520-275': '6013',
 'relation/7896785-275': '5219',
 'way/167621580-400': '6011',
 'way/167621580-275': nan,
 'way/55284068-275': '5223',
 'way/28194931-275': '5218',
 'GB58-275': '7461',
 'GB59-275': '7465',
 'way/92260633-275': '5222',
 'GB60-275': nan,
 'GB61-275': nan,
 'way/96067520-275': '5214',
 'way/25935453-400': '4950',
 'way/96107758-400': '5220',
 'way/96107758-275': '7463',
 'GB62-220': nan,
 'way/88287125-400': '5233',
 'way/89038614-400': '7454',
 'way/576238223-400': '4980',
 'way/25422135-400': nan,
 'way/25422135-220': '4956',
 'GB63-400': nan,
 'GB64-220': nan,
 'way/77065229-400': '4951',
 'relation/7650368-400': '5240',
 'way/24165071-400': '5243',
 'way/92340133-400': '5237',
 'way/89453364-400': nan,
 'way/92460913-400': '5215',
 'relation/7872518-400': '4954',
 'way/95895489-400': '7945',
 'way/925179651-400': nan,
 'way/87464485-400': '8093',
 'way/553490952-400': nan,
 'way/22975329-400': '5246',
 'way/22975329-275': nan,
 'way/23059230-400': '5235',
 'relation/7879831-400': '5184',
 'relation/7879831-275': nan,
 'relation/13110367-400': '5183',
 'way/41710456-400': '8030',
 'way/23228569-275': '5248',
 'way/115530033-400': '7361',
 'way/4746208-400': nan,
 'way/4746208-275': nan,
 'way/23234477-275': '5242',
 'way/95749833-400': '5186',
 'way/95749833-275': nan,
 'way/263863442-400': '5249',
 'way/4797228-275': '5244',
 'way/295657862-275': nan,
 'way/95279334-400': '5226',
 'way/23132983-275': '5267',
 'way/29111844-400': '4968',
 'way/264371625-275': '4952',
 'GB65-400': nan,
 'relation/12543034-275': '5195',
 'way/45087479-275': '5225',
 'way/884174267-400': '5199',
 'way/884174267-275': nan,
 'way/121820285-275': '5191',
 'way/227589012-400': nan,
 'way/371757485-400': '5269',
 'way/371757485-275': nan,
 'way/23229136-275': '4953',
 'relation/13186702-275': nan,
 'way/42800878-400': '5198',
 'GB66-275': '8397',
 'way/23232738-400': '5258',
 'way/23232738-275': '5257',
 'way/292471784-400': '5224',
 'way/123037622-275': '5192',
 'way/49601061-400': '5263',
 'way/533670766-400': nan,
 'way/447301159-400': nan,
 'way/31015820-400': '5266',
 'way/31015820-275': nan,
 'way/93299730-400': nan,
 'GB68-275': nan,
 'GB69-400': '4965',
 'way/102549055-400': nan,
 'way/102549055-275': nan,
 'way/23228362-400': '4957',
 'way/100773252-400': nan,
 'GB71-275': '5196',
 'way/222987687-275': '5197',
 'way/494951597-400': '4961',
 'way/101365758-275': nan,
 'GB72-400': nan,
 'way/447297184-275': nan,
 'way/98788846-275': nan,
 'way/103150854-400': nan,
 'way/1275300370-400': nan,
 'way/1275300370-275': '4959',
 'way/94530230-400': nan,
 'way/94530230-275': '4966',
 'GB73-400': nan,
 'way/143783006-400': nan,
 'GB74-400': nan,
 'GB74-275': nan,
 'way/103829261-400': nan,
 'way/109189896': nan,
 'GB75-400': nan,
 'way/32604320-400': nan,
 'way/32604320-275': '8014',
 'way/1120475588-400': nan,
 'way/1120475588-275': nan,
 'way/16582436-400': '4962',
 'way/23248656-275': '5259',
 'way/814351697-400': '4969',
 'way/91010711-400': nan,
 'way/103915328-400': '5227',
 'way/103915328-275': nan,
 'way/84803250-275': '5193',
 'way/23299362-400': '5270',
 'way/23299362-275': '5271',
 'way/91010022-400': '4970',
 'GB76-275': nan,
 'way/23299657-400': nan,
 'way/23299657-275': nan,
 'relation/7880111-400': '5262',
 'relation/7880111-275': '5260',
 'GB78-400': '4963',
 'GB79-400': '4964',
 'way/23390317-275': '5265',
 'way/1087785232-400': nan,
 'way/264104518-400': '4974',
 'way/32796576-400': '5250',
 'relation/10695345': nan,
 'relation/10695345-400': nan,
 'way/87953830-400': '4975',
 'way/1049638569-400': nan,
 'way/88389243-400': '5251',
 'way/292371992-400': nan,
 'way/292371992-275': '5201',
 'GB81-400': nan,
 'way/48876730-400': nan,
 'way/48876730-275': '5205',
 'way/23281217-400': nan,
 'way/23281217': '4977',
 'way/775577829-400': nan,
 'way/775577829': nan,
 'way/119616836-400': '5204',
 'way/100009331-400': '5194',
 'way/91082448-400': '5273',
 'way/23988786-400': '5230',
 'way/20851038-400': '5254',
 'way/264102298-400': nan,
 'way/264102298-275': '4979',
 'GB82-275': nan,
 'GB83-400': '5231',
 'way/681875115-400': nan,
 'way/4715504-400': '5252',
 'way/28691559-400': '4971',
 'way/90099036-400': '5229',
 'way/636630371-400': nan,
 'relation/9409219-400': '5253',
 'way/636630368-400': nan,
 'way/636630368': nan,
 'way/34205588-400': '5206',
 'way/26678829-400': '5203',
 'way/49922626-400': '5274',
 'way/26938722-400': '5210',
 'way/34656007-400': '5208',
 'relation/9572254-400': '5207',
 'way/677845115-400': '5209'}

In [48]:
df_Buses['color'] = df_Buses['name'].map(bus_501_385_mapping).apply(
    lambda x: 'green' if pd.notna(x) else 'red'
)
df_Buses.rename(columns={'name': 'Bus name'}, inplace=True)
df_Buses.to_csv('Buses.csv', index=False)

## Loads

In [49]:
df_Loads = pd.read_csv('./GBPower_raw/load_weights.csv')
df_Loads.insert(0, 'LoadID', range(1, len(df_Loads) + 1))
df_Loads

     LoadID  name  load_weight
0         1  8838     0.002569
1         2  8013     0.000261
2         3  8520     0.000241
3         4  8649     0.004041
4         5  4950     0.003187
..      ...   ...          ...
380     381  7458     0.001419
381     382  8283     0.005545
382     383  8094     0.004038
383     384  8093     0.004038
384     385  7908     0.003017

[385 rows x 3 columns]

In [50]:
df_bus385_to_501 = pd.read_csv('./prerun/bus385_to_501.csv', dtype={'bus385_id': str})
df_bus385_to_501

    bus385_id             bus501_id
0        6441  relation/8087295-275
1        6442     way/495624575-275
2        6443        way/1262971878
3        6447         way/568527671
4        6449    way/1185489725-220
..        ...                   ...
380      8016      way/26938722-400
381      5210      way/26938722-400
382      5208      way/34656007-400
383      5207  relation/9572254-400
384      5209     way/677845115-400

[385 rows x 2 columns]

In [51]:
map_385_to_501 = dict(zip(df_bus385_to_501['bus385_id'], df_bus385_to_501['bus501_id']))

df_Loads['name'] = df_Loads['name'].astype(str)
df_Loads['Bus name'] = df_Loads['name'].map(map_385_to_501)

df_Loads['name'] = df_Loads['Bus name']

df_Loads.drop(columns=['Bus name'], inplace=True)
df_Loads.rename(columns={'name': 'Bus name'}, inplace=True)
df_Loads

     LoadID              Bus name  load_weight
0         1      way/92419253-275     0.002569
1         2    way/1190395478-220     0.000261
2         3     way/262523325-400     0.000241
3         4      way/49499923-400     0.004041
4         5      way/25935453-400     0.003187
..      ...                   ...          ...
380     381              GB71-275     0.001419
381     382              GB52-400     0.005545
382     383      way/87464485-400     0.004038
383     384      way/87464485-400     0.004038
384     385  relation/7886014-400     0.003017

[385 rows x 3 columns]

In [52]:
Bus_region_map = dict(zip(df_Buses['Bus name'], df_Buses['RegionName']))
df_Loads['RegionName'] = df_Loads['Bus name'].map(Bus_region_map)
df_Loads.to_csv('Loads.csv', index=False)

## Generators

In [53]:
df_Units = pd.read_csv('./prerun/units.csv')
df_Units.insert(0, 'UnitID', range(1, len(df_Units) + 1))
df_Units.rename(columns={'NationalGridBmUnit': 'name','carrier': 'type', 'bus': 'Bus name' ,'lon': 'x', 'lat': 'y'}, inplace=True)
df_Units['Bus name'] = df_Units['Bus name'].map(map_385_to_501)
df_Units.to_csv('Units.csv', index=False)
df_Units

,UnitID,name,type,Bus name,x,y,capacity
0,1,IBG-EGEN1,interconnector,way/814351697-400,0.6530000000000001,51.46000000000001,0.0
1,2,IBG-ENGI1,interconnector,way/814351697-400,0.6530000000000001,51.46000000000001,0.0
2,3,IBG-RSQ1,interconnector,way/814351697-400,0.6530000000000001,51.46000000000001,0.0
3,4,IVD-VKL1,interconnector,way/895564309-400,-0.221,52.931,0.0
4,5,IVG-VKL1,interconnector,way/895564309-400,-0.221,52.931,0.0
...,...,...,...,...,...,...,...
1060,1061,SFERD-1,demand_flex,NaN,distributed,distributed,240.0
1061,1062,EAS-SEL01,demand_flex,NaN,distributed,distributed,0.0
1062,1063,SEE-PGU01,demand_flex,NaN,distributed,distributed,0.0
1063,1064,YEP-ATL01,demand_flex,NaN,distributed,distributed,0.0
1064,1065,YEP-PGU01,demand_flex,NaN,distributed,distributed,0.0

In [54]:
df_Units_Tech_mapping = pd.read_csv('Units_Tech_mapping.csv')
df_Units_Tech_mapping

              Unit       Technology  cost(EUR/MWh)  Unnamed: 3
0          battery  battery storage       0.000000         NaN
1          biomass          biomass      14.893617         NaN
2          cascade            hydro       0.000000         NaN
3      demand_flex              NaN       0.000000         NaN
4           fossil              gas      20.100000         NaN
5            hydro            hydro       0.000000         NaN
6   interconnector              NaN       0.000000         NaN
7             load              NaN       0.000000         NaN
8          nuclear          nuclear      11.380000         NaN
9          offwind          offwind       0.020000         NaN
10          onwind           onwind       1.500000         NaN
11             PHS              PHS       0.000000         NaN
12           solar            solar       0.010000         NaN

In [55]:
Units_Tech_mapping = dict(zip(df_Units_Tech_mapping['Unit'], df_Units_Tech_mapping['Technology']))
df_Units['Technology'] = df_Units['type'].map(Units_Tech_mapping)

Tech_Cost_mapping = dict(zip(df_Units_Tech_mapping['Technology'], df_Units_Tech_mapping['cost(EUR/MWh)']))
df_Units['Cost'] = df_Units['Technology'].map(Tech_Cost_mapping)
df_Units.to_csv('Units.csv', index=False)

## Lines

In [56]:
df_Lines = pd.read_csv('./prerun/lines_GB.csv')
df_Lines.insert(0, 'LineID', range(1, len(df_Lines) + 1))
cols_to_keep = ['LineID', 'bus0', 'bus1', 'voltage', 's_nom', 'r', 'x', 'b', 'length', 'under_construction']
df_Lines = df_Lines[cols_to_keep]
df_Lines.to_csv('Lines.csv', index=False)
df_Lines

,LineID,bus0,bus1,voltage,s_nom,r,x,b,length,under_construction
0,1,way/1307462736-275,way/86071326-275,275,921.668,2.200334,14.577213,0.000228,55008.35,f
1,2,relation/7881280-400,relation/13110369-400,400,3574.953,0.420393,3.447219,0.000243,28026.17,f
2,3,way/101077623-275,GB41-275,275,1843.335,0.046871,0.310518,0.000019,2343.53,f
3,4,way/95279334-400,way/103915328-400,400,3574.953,0.425859,3.492045,0.000246,28390.61,f
4,5,way/111528318-220,GB8-220,220,1474.668,1.584632,7.949573,0.000933,79231.62,f
...,...,...,...,...,...,...,...,...,...,...
585,586,relation/13110369-400,way/314338790-400,400,3574.953,0.103282,0.846912,0.000060,6885.46,f
586,587,relation/7879831-400,way/95749833-400,400,3574.953,0.929985,7.625876,0.000538,61998.99,f
587,588,way/96067520-275,GB59-275,275,1843.335,0.214388,1.420323,0.000089,10719.42,f
588,589,GB61-275,way/96067520-275,275,1843.335,0.173507,1.149483,0.000072,8675.34,f
589,590,way/292371992-400,GB81-400,400,3574.953,0.203457,1.668347,0.000118,13563.80,f

## Links

In [57]:
df_Links = pd.read_csv('./prerun/links_GB.csv')
df_Links.insert(0, 'LinkID', range(1, len(df_Links) + 1))
df_Links.rename(columns={'link_id': 'name'}, inplace=True)
cols_to_keep = ['LinkID', 'name', 'bus0', 'bus1', 'voltage', 'p_nom', 'length', 'under_construction']
df_Links = df_Links[cols_to_keep]
df_Links.to_csv('Links.csv', index=False)
df_Links

,LinkID,name,bus0,bus1,voltage,p_nom,length,under_construction
0,1,relation/10377412-320-DC,way/753113423,way/636630368-400,320,1000,230137.18,f
1,2,relation/13295785-515-DC,relation/12832053,way/642490160,515,1400,723362.06,f
2,3,relation/14126301-450-DC,way/109189896,way/920127890,450,1000,253393.42,f
3,4,relation/15772117-320-DC,way/775577829-400,way/775577827,320,1000,51576.89,f
4,5,relation/15775538-600-DC,way/297840585,way/375626500-400,600,2250,397643.50,f
5,6,relation/15777152-320-DC,way/1262971878,way/975637991,320,600,282108.95,f
6,7,relation/15781671-525-DC,way/1078532568-400,way/1101832649,525,1400,740934.57,f
7,8,relation/2127794-270-DC,way/23281217-400,way/1271288346,270,2000,69019.25,f
8,9,relation/6914309-500-DC,way/137050527-275,way/148382435,500,500,61383.39,f
9,10,relation/8099179-320-DC,way/1262971878,way/568527671,320,1200,161431.49,f
10,11,relation/8184641-400-DC,way/536905500-400,way/260836695,400,500,254728.97,f
11,12,relation/8185487-400-DC,relation/10695345-400,way/500788534,400,1000,139235.71,f

### Add buses outside UK

In [58]:
Buses_EU = pd.read_csv('./Pypsa-eur_raw/buses.csv')
linked_buses = pd.Series(
    pd.concat([df_Links['bus0'], df_Links['bus1']]).unique()
)

Buses_linked = Buses_EU[Buses_EU['bus_id'].isin(linked_buses)]
Buses_linked

,bus_id,voltage,dc,symbol,under_construction,tags,x,y,country,geometry
1823,relation/10695345-400,400,f,Substation,f,relation/10695345,1.345639,51.309878,GB,POINT (1.3456388979917684 51.30987814424089)
1847,relation/12832053,515,t,Substation,f,relation/12832053,6.654777,59.530101,NO,POINT (6.654776609920736 59.530100593739064)
2291,way/1078532568-400,400,f,Substation,f,way/1078532568,-0.236635,52.920885,GB,POINT (-0.2366345394689085 52.92088491851833)
2322,way/109189896,450,t,Substation,f,way/109189896,0.716158,51.440498,GB,POINT (0.7161575436002887 51.44049829914561)
2353,way/1101832649,525,t,Substation,f,way/1101832649,9.167977,55.505082,DK,POINT (9.1679769052874 55.505082071601)
2733,way/1262971878,320,t,Substation,f,way/1262971878,-3.452185,58.479968,GB,POINT (-3.452184943694071 58.47996790376149)
2762,way/1271288346,270,t,Substation,f,way/1271288346,1.782003,50.903459,FR,POINT (1.7820027522149031 50.90345900241787)
2947,way/137050527-275,275,f,Substation,f,way/137050527,-5.770344,54.843315,GB,POINT (-5.7703440335367775 54.84331485406556)
3309,way/148382435,500,t,Substation,f,way/148382435,-4.980751,55.069699,GB,POINT (-4.9807507247075335 55.069699109091)
4237,way/23281217-400,400,f,Substation,f,way/23281217,0.975236,51.105943,GB,POINT (0.9752363053510982 51.1059427193376)
4499,way/260836695,400,t,Substation,f,way/260836695,-6.567545,53.471225,IE,POINT (-6.567545295690898 53.47122516126938)
4852,way/297840585,600,t,Substation,f,way/297840585,-4.894821,55.718037,GB,POINT (-4.894821189854914 55.718036768358985)
5142,way/375626500-400,400,f,Substation,f,way/375626500,-3.032722,53.230352,GB,POINT (-3.032722036000424 53.2303521092484)
5530,way/500788534,400,t,Substation,f,way/500788534,3.209720,51.265068,BE,POINT (3.2097203853314906 51.265068493245366)
5596,way/536905500-400,400,f,Substation,f,way/536905500,-3.050364,53.236592,GB,POINT (-3.0503636016203832 53.23659159755567)
5646,way/568527671,320,t,Substation,f,way/568527671,-2.950414,57.521175,GB,POINT (-2.9504139962807976 57.52117496701186)
5819,way/636630368-400,400,f,Substation,f,way/636630368,-1.194313,50.818144,GB,POINT (-1.1943132571930706 50.81814424372004)
5828,way/642490160,515,t,Substation,f,way/642490160,-1.540427,55.146476,GB,POINT (-1.5404269162550226 55.146475961917986)
6012,way/753113423,320,t,Substation,f,way/753113423,-0.262011,49.110863,FR,POINT (-0.2620112943028184 49.11086276420387)
6063,way/775577827,320,t,Substation,f,way/775577827,1.780552,50.920229,FR,POINT (1.7805520333344027 50.92022947143002)
6065,way/775577829-400,400,f,Substation,f,way/775577829,1.144968,51.098553,GB,POINT (1.1449680724783475 51.09855294085778)
6481,way/920127890,450,t,Substation,f,way/920127890,4.021610,51.956959,NL,POINT (4.021609637881493 51.95695895697931)
6657,way/975637991,320,t,Substation,f,way/975637991,-1.271945,60.293401,GB,POINT (-1.2719451172071998 60.29340062591924)

In [59]:
non_gb_buses = Buses_linked[Buses_linked["country"] != "GB"]

new_buses = non_gb_buses.rename(columns={
    "bus_id": "Bus name",
    "x": "x",
    "y": "y"
}).copy()

new_buses["RegionName"] = "Overseas"  # or set based on logic
new_buses["color"] = "yellow"
new_buses["BusID"] = range(df_Buses["BusID"].max() + 1, df_Buses["BusID"].max() + 1 + len(new_buses))

new_buses = new_buses[["BusID", "Bus name", "x", "y", "RegionName", "color"]]

df_Buses = pd.concat([df_Buses, new_buses], ignore_index=True)
df_Buses = df_Buses.drop_duplicates(subset=["Bus name"])
df_Buses.to_csv('Buses.csv', index=False)

## Transformers

In [60]:
df_Transformers = pd.read_csv('./prerun/transformers_GB_modified.csv', header = None)
# Set the first row as header
df_Transformers.columns = df_Transformers.iloc[0]

# Drop the first row now that it’s used as header
df_Transformers = df_Transformers.drop(index=0).reset_index(drop=True)

df_Transformers.rename(columns={'transformer_id': 'TransformerID'}, inplace=True)
cols_to_keep = ['TransformerID', 'bus0', 'bus1', 'voltage_bus0', 'voltage_bus1', 's_nom']
df_Transformers = df_Transformers[cols_to_keep]
df_Transformers.to_csv('Transformers.csv', index=False)

df_Transformers

,TransformerID,bus0,bus1,voltage_bus0,voltage_bus1,s_nom
0,0,GB74-275,GB74-400,275,400,3575
1,1,relation/13110368-275,relation/13110368-400,275,400,7150
2,2,relation/14921826-275,relation/14921826-400,275,400,3575
3,3,relation/7879831-275,relation/7879831-400,275,400,7150
4,4,relation/7880111-275,relation/7880111-400,275,400,2766
...,...,...,...,...,...,...
130,NaN,way/536905500-400,way/536905500,400.0,400,NaN
131,NaN,way/568527671,way/166703766-275,320.0,275,NaN
132,NaN,way/636630368-400,way/636630368,400.0,320,NaN
133,NaN,way/642490160,way/310502642-275,515.0,275,NaN
134,NaN,way/775577829-400,way/775577829,400.0,320,NaN