# Omit other European lines and retain the GB Lines

In [2]:
import pandas as pd

buses_GB = pd.read_csv('buses_GB.csv', index_col=0)
buses_GB

,voltage,dc,symbol,under_construction,tags,x,y,country,geometry
bus_id,,,,,,,,,
GB1-220,220,f,Substation,f,GB1,-2.895746,58.256815,GB,POINT (-2.89574579999998 58.25681489665168)
GB10-275,275,f,Substation,f,GB10,-3.719714,56.088133,GB,POINT (-3.7197141029573086 56.08813280985685)
GB11-275,275,f,Substation,f,GB11,-3.179692,55.924620,GB,POINT (-3.179691699999998 55.92462039608915)
GB12-275,275,f,Substation,f,GB12,-3.178627,55.903134,GB,POINT (-3.1786274000000008 55.903133796083246)
GB13-400,400,f,Substation,f,GB13,-2.938918,55.884694,GB,POINT (-2.9389176097429712 55.884694124885954)
...,...,...,...,...,...,...,...,...,...
way/97551523-400,400,f,Substation,f,way/97551523,-2.416744,55.948838,GB,POINT (-2.416744037747284 55.94883802508482)
way/97561542-275,275,f,Substation,f,way/97561542,-1.116723,54.606500,GB,POINT (-1.116723103802722 54.60650023647723)
way/975637991,320,t,Substation,f,way/975637991,-1.271945,60.293401,GB,POINT (-1.2719451172071998 60.29340062591924)
way/98788846-275,275,f,Substation,f,way/98788846,-3.130160,51.481960,GB,POINT (-3.1301598856391433 51.481959794736376)
way/98899051-400,400,f,Substation,f,way/98899051,-4.158253,53.187491,GB,POINT (-4.158252803363987 53.187491046335566)

In [3]:
lines_raw = pd.read_csv('/Users/zm348/PhD/Projects/Nature EV/data/Pypsa-eur_raw/lines.csv', index_col=0)
lines_raw = lines_raw.dropna(axis=1)
lines_raw

/var/folders/f0/zj71chhd6pvdlx6llbr36gtr0000gp/T/ipykernel_23316/112721899.py:1: DtypeWarning: Columns (13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577) have mixed types. Specify dtype option on import or set low_memory=False.
  lines_raw = pd.read_csv('/Users/zm348/PhD/Projects/Nature EV/data/Pypsa-eur_raw/lines.csv', index_col=0)

,bus0,bus1,voltage,i_nom,circuits,s_nom,r,x,b,length,underground,under_construction
line_id,,,,,,,,,,,,
merged_relation/10264161-225+1,way/150329778-225,way/239609000-225,225,1.290,1,502.728,0.355354,1.782691,0.000023,5922.56,f,f
merged_relation/11762422-400-b+2,way/761507281-400,way/111162936-400,400,2.580,1,1787.476,1.777477,14.575313,0.000257,59249.24,f,f
merged_relation/1208415-380-c+1,way/23380800-380,way/24478889-380,380,2.580,1,1698.103,0.281152,2.305450,0.000041,9371.75,f,f
merged_relation/14096017-380-b+3,way/936521586-380,way/234983117-380,380,2.580,1,1698.103,0.544892,4.468113,0.000079,18163.06,f,f
merged_relation/14096018-380-b+5,way/111162936-380,way/936521586-380,380,2.580,1,1698.103,2.332410,19.125760,0.000337,77746.99,f,f
...,...,...,...,...,...,...,...,...,...,...,...,...
way/99761296-380,AT13-380,AT12-380,380,2.580,2,3396.205,0.221959,1.820064,0.000128,14797.27,f,f
way/997803612-330,LT11-330,LT12-330,330,1.935,1,1106.001,0.069080,0.457652,0.000007,1726.99,f,f
way/997803613-330,LT12-330,LT11-330,330,1.935,2,2212.002,0.033948,0.224906,0.000014,1697.40,f,f
way/998005837-1-380,DE23-380,DE24-380,380,2.580,1,1698.103,0.038156,0.312882,0.000006,1271.88,f,f
way/99833686-220,way/1051991398-220,IT88-220,220,1.290,1,491.556,0.314362,1.577047,0.000021,5239.36,f,f

In [4]:
buses_id_GB = buses_GB.index
for col in ['bus0', 'bus1']:
    lines = lines_raw[lines_raw[col].isin(buses_id_GB)]
lines.to_csv('lines_GB.csv', index=False)

lines

,bus0,bus1,voltage,i_nom,circuits,s_nom,r,x,b,length,underground,under_construction
line_id,,,,,,,,,,,,
merged_relation/8830779-275+1,way/1307462736-275,way/86071326-275,275,1.935,1,921.668,2.200334,14.577213,0.000228,55008.35,f,f
merged_way/100861731-400+1,relation/7881280-400,relation/13110369-400,400,2.580,2,3574.953,0.420393,3.447219,0.000243,28026.17,f,f
merged_way/1018376463-275+1,way/101077623-275,GB41-275,275,1.935,2,1843.335,0.046871,0.310518,0.000019,2343.53,t,f
merged_way/103961903-400+1,way/95279334-400,way/103915328-400,400,2.580,2,3574.953,0.425859,3.492045,0.000246,28390.61,f,f
merged_way/1078526933-220+1,way/111528318-220,GB8-220,220,1.290,3,1474.668,1.584632,7.949573,0.000933,79231.62,t,f
...,...,...,...,...,...,...,...,...,...,...,...,...
way/95475605-400,relation/13110369-400,way/314338790-400,400,2.580,2,3574.953,0.103282,0.846912,0.000060,6885.46,f,f
way/95749841-400,relation/7879831-400,way/95749833-400,400,2.580,2,3574.953,0.929985,7.625876,0.000538,61998.99,f,f
way/96067518-275,way/96067520-275,GB59-275,275,1.935,2,1843.335,0.214388,1.420323,0.000089,10719.42,f,f
way/96067522-275,GB61-275,way/96067520-275,275,1.935,2,1843.335,0.173507,1.149483,0.000072,8675.34,f,f
way/968931055-400,way/292371992-400,GB81-400,400,2.580,2,3574.953,0.203457,1.668347,0.000118,13563.80,f,f

# Loads

In [ ]:
load_weights = pd.read_csv('../GBPower_raw/load_weights.csv', index_col=0)
FES-2021-demandpk =

      load_weight
name
8838     0.002569
8013     0.000261
8520     0.000241
8649     0.004041
4950     0.003187
...           ...
7458     0.001419
8283     0.005545
8094     0.004038
8093     0.004038
7908     0.003017

[385 rows x 1 columns]

# Generators